<footer >
    <div class="container-footer">
        <div class="card">
            <h2>Sobre Nós</h2>
            <p>Nossa Missão é levar praticidade e eficiênica ao nosso cliente, para que ele consiga encontrar
                o melhor serviço para o seu pet!</p>
        </div>
        <div class="card">
            <h2>Entrar em Contato</h2>
            <address>
                <p>Rua das Pedrinhas, nº 664</p>
            </address>
            <div class="contatos">
                <% footer[0].forEach(item => { %>
                    <a href="<%= item.url %>"><img class="contato__icones" src="<%= item.icone %>" alt="email"></a>
                <% })%>
            </div>
        </div>
        <div class="card">
            <h2>Nossos Serviços</h2>
            <ul class="card__servicos">
                <% footer[1].forEach(item => { %>
                    <li class="list_service"><a href="<%= "#" + item.toLowerCase() %>"><%= item %></a></li>
                <% })%>
            </ul>
        </div>
        <div class="card">
            <h2>Redes Sociais</h2>
            <div class="rede_social">
                <% footer[2].forEach(redesocial => { %>
                    <a href="<%= redesocial.url %>"><img class="redesocial__icones" src="<%= redesocial.icone %>" alt="email"></a>
                <% })%>
            </div>
        </div>
    </div>
    <div class="creditos">
        <p>Projeto de Conclusão de Curso Digital House - 2022</p>
    </div>
</footer>