<footer >
    <div class="container">
        <div class="card">
            <h2>Sobre Nós</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis consequuntur labore recusandae.
                Ratione cupiditate quo quisquam. Commodi inventore ipsa odio vitae accusamus quaerat quo esse facilis
                sit nesciunt, nulla earum!</p>
        </div>
        <div class="card">
            <h2>Entrar em Contato</h2>
            <address>
                <p>Rua das Pedrinhas, nº 664</p>
            </address>
            <div class="contatos">
                <% footer[0].forEach(contato => { %>
                    <a href="<%= contato.url %>"><img class="contato__icones" src="<%= contato.icone %>" alt="email"></a>
                <% })%>
            </div>
        </div>
        <div class="card">
            <h2>Nossos Serviços</h2>
            <ul class="card__servicos">
                <% footer[1].forEach(item => { %>
                    <li class="list_service"><a href="<%= "#" + item.toLowerCase() %>"><%= item %></a></li>
                <% })%>
            </ul>
        </div>
        <div class="card">
            <h2>Redes Sociais</h2>
            <div class="rede_social">
                <% footer[2].forEach(redesocial => { %>
                    <a href="<%= redesocial.url %>"><img class="redesocial__icones" src="<%= redesocial.icone %>" alt="email"></a>
                <% })%>
            </div>
        </div>
    </div>
    <div class="creditos">
        <p>Projeto de Conclusão de Curso Digital House - 2022</p>
    </div>
</footer>