<div class="container">
    <form action="/dashboard/perfil/update" method="POST">

        <div class="form-content">

            <div class="input-boxes">

                <div class="input-box">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="nome" placeholder="Nome" value="<%= user.nome%>">
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="sobrenome" placeholder="Sobrenome" value="<%= user.sobrenome%>">
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="email" placeholder="Email" value="<%= user.email%>">
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-phone"></i>
                    <input type="tel" name="cpf" placeholder="CPF" value="<%= user.cpf%>">
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-calendar"></i>
                    <input type="date" name="datanasc"  value="<%= user.datanasc%>">
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-pen"></i>
                    <input type="text" name="telefone" placeholder="Telefone" value="<%= user.telefone%>">
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-location-crosshairs"></i>
                    <input id="cep" type="text" name="cep" placeholder="CEP" value="<%= user.cep%>" onblur="">
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-pen"></i>
                    <input id="rua" type="text" name="rua" placeholder="Rua" value="<%= user.rua%>">
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-pen"></i>
                    <input id="nr-complemento" type="text" name="numero" placeholder="Numero" value="<%= user.numero%>">
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-pen"></i>
                    <input id="bairro" type="text" name="bairro" placeholder="Bairro" value="<%= user.bairro%>">
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-pen"></i>
                    <input id="cidade" type="text" name="cidade" placeholder="Cidade" value="<%= user.cidade%>">
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-pen"></i>
                    <input id="uf" type="text" name="estado" placeholder="Estado" value="<%= user.estado%>">
                </div>
            </div>

            <div class="containner-btn">
                <div class="btnEnviar">
                    <input type="submit" id="enviarBtn" placeholder="Enviar">
                </div>
            </div>
        </div>

    </form>
</div>