<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONTAWSOME -->
    <script src="https://kit.fontawesome.com/8738c5e42e.js" crossorigin="anonymous"></script>

    <!-- HEADDER -->
    <link rel="stylesheet" href="css/header.css" type="text/css">

    <!-- HERO -->
    <link rel="stylesheet" href="css/hero.css" type="text/css">

    <!-- SOBRE -->
    <link rel="stylesheet" href="css/sobre.css" type="text/css">

    <!-- SERVICOS -->
    <link rel="stylesheet" href="css/servicos.css" type="text/css">

    <!-- CONTATO -->
    <link rel="stylesheet" href="css/formulario.css" type="text/css">

    <!-- FOOTER -->
    <link rel="stylesheet" href="css/footer.css" type="text/css">



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <script src="js/app.js"></script> -->

    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("../partials/header")%>

    <section class="hero" id="hero">
        <div class="hero-container">
            <div class="hero-titulo">
                <h2>Cuidamos do seu pet como se fosse nosso</h2>
                <span class="saibamais">
                    <p><a href="#serviços">Saiba mais</a></p>
                </span>
            </div>
            <div class="hero-image">
                <img src="img/dog-blob.png" alt="pet">
            </div>
        </div>
    </section>

    <section id="serviços">
        <%- include("servicos")%>
    </section>

    <section id="contato">
        <%- include("formulario")%>
    </section>

    <%- include("../partials/footer")%>

    <!-- FORMULARIO -->
    <script src="/js/formulario.js"></script>

</body>

</html>